@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(40px, -30px);
    }

    50% {
        transform: translate(-30px, 40px);
    }

    75% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.animate-float {
    animation: float 8s ease-in-out infinite;
}